---
layout: post
title: Tags
permalink: /tags/
---

<div class="d-flex justify-content-end mt-5">
    <img class="wallpaper position-absolute d-md-block d-none" src="/assets/images/tag.jpg" alt="jhsddhvs"></div>
      {% for tag in site.tags %}
      <h2 id="{{ tag | first }}">#{{ tag | first }}</h2>
    <ol type="i">
         {% for posts in tag  %}{% for post in posts %}{% if post.title != null %}
         <li><a class="text-decoration-none text-dark post-url" href="{{ post.url}}">{{ post.title }}</a></li>
         {% endif %}{% endfor %}{% endfor %}
    </ol>
      {% endfor %}
</div>