
.client {
  margin-bottom: 30px; 
    &--title {
    @include bottom-line;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: $font-size;
    
}
 &-photo {
     height: 130px;
    width: 130px;
    margin-top: 80px;
}     
   &-reviewer {
  margin-top: 30px;
  font-size: 20px;
  padding-top: 20px;
  &--comment {
  margin-top: -40px;
  padding-bottom: 20px; 
}
    }
 
}
.carousel-indicators{
    margin-bottom: -20px;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
  border: 1px solid #000000 !important;   
}
.carousel-indicators .active {
  background-color: #d41d1f !important; 
}


.line {
    @include bottom-line;
    width: 120px;
    margin-bottom: -20px;
 }
.double-quotes {
  font-size: 80px;
    font-family: Georgia; }  
