body {
  margin: 0px auto;
  font-family: "Roboto", sans-serif;
  color: #a9a9a9;
}

input {
  width: 500px;
  border: 1px solid #ccc;
  height: 34px;
  font-weight: bolder;
  padding-left: 10px;
    padding-right: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.fullpage {
  display: flex;
  margin-top: 75px;
  margin-left: 150px;
}
h1 {
  color: black;
}
.second_block {
  padding-top: 50px;
}

.third_block {
  padding-top: 50px;
}

.right_block {
  margin-left: 70px;
  margin-top: 75px;
}

.dropdown-content button {
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#dropdownbutton {
  padding: 7px 19px;
  display: inline;
  position: relative;
  left: 481px;
  bottom: 29px;
  border-radius: 5px;
}
.colortxt {
  background-color: #970634;
}
.boxcolor {
  background-color: #b4e4b5;
}
.popup {
  position: relative;
  display: inline-block;
}
.popup .popuptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 150%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 90%;
  left: 85%;
  border: 10px solid #fff;
  border-color: transparent transparent rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  z-index: -1;
}
.popup .show {
    visibility: visible;
    margin-left: -170px;
    width: 200px;
    top: 135%;
    padding: 4px;
    height: 162px;
}
.textshow {
    word-wrap: break-word ;
    width: 380px;
}

.showbox {
  height: 280px;
  width: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
    overflow-x: hidden;
    overflow: hidden;
  overflow-y: auto;
    color: #970634; 
  background-color: #b4e4b5;
-ms-overflow-style: none;
  scrollbar-width: none; 
}

.showbox::-webkit-scrollbar {
    display: none;
}


#one {
  background-color: #b3b5fd;
}
#two {
  background-color: #676bfb;
}
#three {
  background-color: #363ffb;
}
#four {
  background-color: #1f2efb;
}
#five {
  background-color: #010864;
}
#six {
  background-color: #01044c;
}
#seven {
  background-color: #fdb4cc;
}
#eight {
  background-color: #fd6899;
}
#nine {
  background-color: #fc3878;
}
#ten {
  background-color: #e30e4e;
}
#eleven {
  background-color: #970634;
}
#twele {
  background-color: #7e042b;
}
#thirteen {
  background-color: #fda36c;
}
#fourteen {
  background-color: #fd9455;
}
#fifteen {
  background-color: #fd752d;
}
#sixteen {
  background-color: #e45b1c;
}
#seventeen {
  background-color: #b14714;
}
#eighteen {
  background-color: #973d0f;
}
#nineteen {
  background-color: #fffd72;
}
#twenty {
  background-color: #fffd3f;
}
#twentyone {
  background-color: #c9ca2a;
}
#twentytwo {
  background-color: #b0b224;
}
#twentythree {
  background-color: #939607;
}
#twentyfour {
  background-color: #97981d;
}
#twentyfive {
  background-color: #b4e4b5;
}
#twentysix {
  background-color: #8fd790;
}
#twentyseven {
  background-color: #6bc96c;
}
#twentyeight {
  background-color: #59c25a;
}
#twentynine {
  background-color: #39973a;
}
#thirty {
  background-color: #2a712b;
}
