body {
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
}

input {
    width: 500px;
    border: 1px solid #ccc;
    height: 34px;
    font-weight: bolder;
    padding-left: 10px;
    font-size: 15px;

}

.fullpage {
    display: flex;
    padding-top: 75px;
    padding-left: 150px;
}

.first_block {
    color: #A9A9A9;

}

.second_block {
    padding-top: 50px;
}

.third_block {
    padding-top: 50px;
}

.right_block {
    color: #A9A9A9;
    padding-top: 75px;
}

.dropdown-content button {
    display: inline-block;
    border: none;
    height: 30px;
    width: 30px;

}

#dropdownbutton {
    padding: 9px 20px;
    border: 1px solid;
    display: inline;
    position: relative;
    right: 43px;
}


.dropdown {

    display: inline;

}

.dropdown-content {

    margin-left: 330px;
    position: absolute;
    display: none;
    padding-top: 10px;
    background-color: white;
    z-index: 1;
    flex-wrap: wrap;
    width: 200px;



}

.dropdown:hover .dropdown-content {
    display: block;
}


.textshow {
    text-align: center;
    overflow-wrap: break-word;
    width: 400px;
    font-size: 25px;

}

.showbox {

    height: 260px;
    width: 400px;
    display: flex;
    align-items: center;


}