.head{
    font-size: 40px;
    color: #fe6601;
    font-family: cursive;
}
.welcome{
    width: 280px;
}
.fst-italic{
    color: #fd0303;
}
.card-title{
    color:#fe6601;
}
.desc{
    font-weight: 500;

}
.card{
    background-color: #2a0960;
}