.post-url:hover {
    color: #8F00FF !important;
}
.image{
    border-radius: 20px;
    box-shadow: $shadow;
    display: block;
    margin: auto;
    height: 350px;
    width:450px;
    margin-bottom: 40px;
}
.post-content{
    color: #b05e20;
}
.post-cards{
    width: 250px;
    box-shadow: 0 0 15px #000;
}
.post-cards:hover{
    transform: scale(1.05);
    background-color: #eeb823;
}
.card-body{
    margin-top: -50px;
    width: 220px;
    padding: 2px;
    background-color: #a9a9a9;
}
.postDes{
    padding: 20px;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #000;
}
.btn-primary:active{
    transform: translateY(4px);
}