.post-url:hover {
    color: #8F00FF !important;
}
.pagetitle{
    color: #008000;
}
.image{
    border-radius: 20px;
    box-shadow: $shadow;
    display: block;
    margin: auto;
    height: 350px;
    width:450px;
    margin-bottom: 40px;
}