.post-url:hover {
    color: #8F00FF !important;
}
.pagetitle{
    font-variant: small-caps;
    text-shadow: 0 0 20px darkblue;
}
.image{
    border-radius: 20px;
    box-shadow: $shadow;
    display: block;
    margin: auto;
    height: 350px;
    width:450px;
    margin-bottom: 40px;
}
.post-content{
    color: #b05e20;
}