.random-title{
    text-decoration: none;
    color: #000;
    font-size: 75px;
}
.home{
  margin-top: 300px;
}
.random-image{
  border-radius: 10px;
  margin-right: 50px;
  width: 510px;
  height: 360px;
}
.postDes{
  padding: 20px;
  padding-left: 40px;
}
@media only screen and (max-width: 768px) {
  .random-image{
    width: 300px;
    height:200px;
  }
  .random-title{
    font-size: 30px;
  }
  .nav-bar-button{
    margin-bottom: 20px !important;
  }
  #btn-back-to-top{
    visibility: hidden;
  }
}