.random{
  box-shadow:0 0 5px #000000;
  padding: 20px;
}
.random:hover{
  transform: scale(1.05);
}
.random-title{
    text-decoration: none;
  font-variant: small-caps; 
  color: #000000 !important;
  
}
.random-title:hover{
  color: #3d17e8 !important;

}
.random-image{
   box-shadow: $shadow;
   border-radius: 10px;

}