.random{
  box-shadow:  inset 0 0 10px #000000;
  padding: 20px;
}
.random:hover{
  transform: scale(1.09);
  background-color: #eeb823;
}
.random-title{
    text-decoration: none;
  font-variant: small-caps; 
  
}
.random-image{
   box-shadow: $shadow;
   border-radius: 10px;
   height: 150px;
   width: 250px;
}