
 <div class="aboutus" id="about">
    <div class="container about text-center d-flex flex-column">
        <div class="about--title ">
           <h5> ABOUT US</h5>
        </div>
        <div class="about--des">
            <p class="about--des__one">
                Max,International is Brisbane based migration consultancy with office situated in Brisbance CBD.
            </p>
            <p class="about--des__two">
                Max,International was established in 2009 and from the very beginning we have been dedicated to giving
                all<br>our clients quality assistance with their visa and migration issues.
            </p>
            <p class="about--des__two">
                Founder and Director, Manvinder Jit Kaur has successfully practiced as a Migration Agent since 2009
                [MARN<br>0956223].She was born in India and migrated to Australia in 2005, As a non-English speaking immigrant,
                she<br>accepts the challenge to establish herself in an unfamiliar country and begin a new life. Inspiring by
                her <br>journey she aimed to help others in their migration to Australia and with this goal in mind she
                founded<br>MAX INTERNATIONAL Migration agency.
            </p>
            <div class="btn btn-danger">READ MORE</div>
            </div>
            
        <div class="point">
        </div>
        <div class="vertical-line">
        </div>
      
     </div>
</div>
