  <footer class="text-center text-lg-start text-white pt-5">
<div class="container-fluid bg-dark">
    <div class="container p-4 pb-0">
        <div class="row">
                <div class="col-sm-2 d-flex justify-content-center">
                    <div class=" logo-group align-self-center text-center">
                        <img src="{{site.baseurl}}/assets/images/dark-max-logo.png" alt="logo">
                        <p class="mb-0">
                            <span><i class="fa-brands fa-facebook"></i></span>
                            <span><i class="fa-brands fa-twitter"></i></span>
                            <span><i class="fa-brands fa-skype"></i></span>
                        </p>
                    </div> 
                </div>   
            <div class="col-md-2 col-lg-2 col-xl-2 mt-3 mx-auto text-uppercase">
            <h6 class="footer--heading">sevices</h6>
                <p class="mt-4"><a class="footer-content" href="#family visa">family visa</a></p>
                <p class="mt-2"><a class="footer-content" href="#student visa">student visa</a></p>
                <p class="mt-2"><a class="footer-content" href="#skilled visa">skilled visa</a></p>
                <p class="mt-2"><a class="footer-content" href="#appeals visa">appeals visa</a></p>
                <p class="mt-2"><a class="footer-content" href="#visitor visa">visitors visa</a></p>
                <p class="mt-2"><a class="footer-content" href="#employer sponsered visa">employer sponsered visa</a></p>
          </div>
            
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-uppercase">
              <h6 class="mb-4 footer--heading">navigation</h6>
              <p><a class="footer-content" href="#home">home</a></p>
              <p><a class="footer-content" href="#about">about us</a></p>
              <p><a class="footer-content" href="#">what we do?</a></p>
              <p><a class="footer-content" href="#">about austrlia</a></p>
              <p><a class="footer-content" href="#testimonial">testimonials</a></p>
              <p><a class="footer-content" href="#">newsletter</a></p>
              <p><a class="footer-content" href="#">contact</a></p>
          </div>
            
          <div class="col-md-6 col-lg-5 col-xl-5 mt-3 mx-auto text-uppercase">
            <h6 class="mb-4 footer--heading">Contact</h6>
            <p class="contact--details">Address :<span class="contact--details__highlight">level 3 150 edward st brisbane old 4000</span></p>
				<div class="col-sm-9 d-flex flex-nowrap">
				<div class="col-sm-6">
					<p class="contact--details">phone : <span class="contact--details__highlight">07 3210 1975</span></p>
				</div>
				<div class="col-sm-6">
					<p class="contact--details">fax : <span class="contact--details__highlight">07 3210 6705</span></p>
				</div>
               </div>
              <p class="contact--details">mail : <span class="contact--details__highlight text-lowercase">info@maxinternational.com.au</span></p>
                    <div class="newsletter mt-5" id="newsletter">
                        <h5 class="footer--heading">newsletter</h5>
                            <form class="d-flex mt-3">
                               <p><input class="email--input" type="email" placeholder="Email Address"></p>
                               <p><button class="btn subscribe--btn text-uppercase" type="submit">subscribe</button></p>
                              </form>
                      </div>
                  </div>
            <hr class="w-100 mt-5">
        <div class="d-flex  pt-4 pb-5 footer-end justify-content-between">
          <div class="footer-end">
              © 2007 - 2016 Max International All rights reserved.
          </div>
          <div class="footer-end">
           Design by Kush Infosystems Inc.
          </div>
        </div>
          </div></div>
</div>
       </footer>