<!--
---
layout: deafults
---
-->

<div class="home-container" id="home">
    <div class="row align-items-center">
        <div class="col-4 poster">
            <div class="rounded">
                <h4 class="poster-title text-center">MIGRATION AGENT</h4>
                <p class="poster-des text-center">
                    Max International, a reputated Migration consultancy and agency, was established in 2009 with the intention of providing genuine, reliable and cost effective service and support to people who wish to make Australia their home.
                </p>
            </div>
        </div>
        <div class="col-3 home-form d-flex justify-content-center">
            <form class="form">
                            <label for="Name" class="form-label">Name </label>
                            <input type="text" class="form-control form-control-sm">
                            <label for="Email" class="form-label">Email</label>
                            <input type="email" class="form-control form-control-sm">
                            <label for="Telephone" class="form-label">Telephone</label>
                            <input type="text" class="form-control form-control-sm">
                            <label for="mobile" class="form-label">Mobile</label>
                            <input type="text" class="form-control form-control-sm">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control form-control-sm">
                            <label for="enquiry" class="form-label">Enquiry</label>
                            <textarea class="form-control row-form-control-sm"></textarea>
                        <div class="text-center">
                    <button type="submit" class="btn bg-danger text-white mt-2">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
    