<div class="home-container d-flex flex-column flex-md-row justify-content-evenly align-items-center" id="home">
        
            <div class="rounded">
                <h4 class="poster-title text-center">MIGRATION AGENT</h4>
                <p class="poster-des text-center">
                    Max International, a reputated Migration consultancy and agency, was established in 2009 with the intention of providing genuine, reliable and cost effective service and support to people who wish to make Australia their home.
                </p>
            
       </div>
        <div class="home-form">
            <form class="form">
                            <label for="Name" class="form-label mb-0">Name </label>
                            <input type="text" class="form-control form-control-sm">
                            <label for="Email" class="form-label mb-0 mt-2">Email</label>
                            <input type="email" class="form-control form-control-sm">
                            <label for="Telephone" class="form-label mb-0 mt-2">Telephone</label>
                            <input type="text" class="form-control form-control-sm">
                            <label for="mobile" class="form-label mb-0 mt-2">Mobile</label>
                            <input type="text" class="form-control form-control-sm">
                            <label for="city" class="form-label mb-0 mt-2">City</label>
                            <input type="text" class="form-control form-control-sm">
                            <label for="enquiry" class="form-label mb-0 mt-2">Enquiry</label>
                            <textarea class="form-control row-form-control-sm"></textarea>
                        <div class="text-center">
                    <button type="submit" class="btn btn-danger mt-2">Send</button>
                </div>
            </form>
        </div>
</div>

    