<nav class="navbar navbar-expand-lg navbar-light  bg-light">
	<div class="container-fluid p-3  d-flex justify-content-evenly">
		<div class="d-inline navbar-brand" href="#home"><img src="{{site.baseurl}}/assets/images/max-international-logo.jpg" alt="logo">
        </div>
        <div class="navbar-nav">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse d-flex justify-content-end">
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav flex-column flex-wrap ms-md-auto">
						<div class="row">
							<ul class="navbar-nav  justify-content-end">
								<li class="nav-item row-1">
									<a class="nav-link active" href="info@maxinternational.com.au"><i class="fa-regular fa-envelope"></i>&nbsp; info@maxinternational.com.au</a>
								</li>
								<li class="nav-item"><a class="nav-link active" href="#"><i class="fa-solid fa-phone"></i>&nbsp;+91 5585 665 333</a> </li>
							</ul>
						</div>
						<div class="collapse navbar-collapse" id="navbarNavDropdown">
							<ul class="navbar-nav row-2 pt-2">
								<li class="nav-item ms-5"> <a class="nav-link active" href="#home">HOME</a> </li>
								<li class="nav-item ms-5"> <a class="nav-link" href="#about">ABOUT US</a> </li>
								<li class="nav-item ms-5"> <a class="nav-link" href="#testimonial">TESTIMONIAL</a> </li>
								<li class="nav-item ms-5"> <a class="nav-link" href="#">NEWSLETTER</a> </li>
								<li class="nav-item ms-5"> <a class="nav-link" href="#">CONTACT</a> </li>
								<li class="nav-item ms-5"> <div class="btn btn-danger">LOGIN</div></li>
							</ul>
						</div>
					</ul>
				</div>
			</div>
		</div>
    </div>
</nav>