<div class="client" id="testimonial">
    <div class="container  d-flex flex-column justify-content-center">
        <div class="client--title text-center">
            <h5>HAPPY CLIENTS</h5>
        </div>
        <div class="above">   
                <div id="carousel" class="carousel slide" data-interval="false">
                    <div class="carousel-indicators mb-0">
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" class="active"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="client-review row">
                                        <div class=" col-sm-4 text-center">
                                            <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-1.jpg"
                                                alt="client profile">
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="double-quotes">“</span>
                                            <p class="client-reviewer--comment">Thank you so much for making this visa
                                                possible. Max International have been truly helpfu; and i would like to
                                                commend and thank so much Manvinder who has been very helpful and
                                                dedicated to her work.</p>
                                            <div class="line">
                                            </div>
                                            <h4 class="client-reviewer">
                                                GURJEETH SINGH
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="client-review  row">
                                        <div class=" col-sm-4  text-center">
                                            <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-2.png"
                                                alt="client profile">
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="double-quotes">“</span>
                                            <p class="client-reviewer--comment">Their prompt and professional
                                                consultation with the Australian Consulate has the immigration process a
                                                lot easier for us. I would highly recommend Max International and the
                                                excellent seervice they provide</p>
                                            <div class="line">
                                            </div>
                                            <h4 class="client-reviewer">
                                                TINA
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item active">

                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="client-review  row">
                                        <div class=" col-sm-4 text-center">
                                            <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-1.jpg"
                                                alt="client profile">
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="double-quotes">“</span>
                                            <p class="client-reviewer--comment">Thank you so much for making this visa
                                                possible. Max International have been truly helpfu; and i would like to
                                                commend and thank so much Manvinder who has been very helpful and
                                                dedicated to her work.</p>
                                            <div class="line">
                                            </div>
                                            <h4 class="client-reviewer">
                                                GURJEETH SINGH
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="client-review  row">
                                        <div class=" col-sm-4 p-0 text-center">
                                            <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-2.png"
                                                alt="client profile">
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="double-quotes">“</span>
                                            <p class="client-reviewer--comment">Their prompt and professional
                                                consultation with the Australian Consulate has the immigration process a
                                                lot easier for us. I would highly recommend Max International and the
                                                excellent seervice they provide</p>
                                            <div class="line">
                                            </div>
                                            <h4 class="client-reviewer">
                                                TINA
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">

                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="client-review  row">
                                        <div class=" col-sm-4 text-center">
                                            <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-1.jpg"
                                                alt="client profile">
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="double-quotes">“</span>
                                            <p class="client-reviewer--comment">Thank you so much for making this visa
                                                possible. Max International have been truly helpfu; and i would like to
                                                commend and thank so much Manvinder who has been very helpful and
                                                dedicated to her work.</p>
                                            <div class="line">
                                            </div>
                                            <h4 class="client-reviewer">
                                                GURJEETH SINGH
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="client-review  row">
                                        <div class=" col-sm-4 text-center">
                                            <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-2.png"
                                                alt="client profile">
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="double-quotes">“</span>
                                            <p class="client-reviewer--comment">Their prompt and professional
                                                consultation with the Australian Consulate has the immigration process a
                                                lot easier for us. I would highly recommend Max International and the
                                                excellent seervice they provide</p>
                                            <div class="line">
                                            </div>
                                            <h4 class="client-reviewer">
                                                TINA
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="below text-dark">
                <div id="carousels" class="carousel slide" data-interval="false">
                    <div class="carousel-indicators mb-0">
                        <button type="button" data-bs-target="#carousels" data-bs-slide-to="0"></button>
                        <button type="button" data-bs-target="#carousels" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carousels" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carousels" data-bs-slide-to="3" class="active"></button>
                        <button type="button" data-bs-target="#carousels" data-bs-slide-to="4"></button>
                        <button type="button" data-bs-target="#carousels" data-bs-slide-to="5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class=" text-center">
                                <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-1.jpg"
                                    alt="client profile">
                            </div>
                            <span class="double-quotes">“</span>
                            <p class="client-reviewer--comment">Thank you so much for making this visa
                                possible. Max International have been truly helpfu; and i would like to
                                commend and thank so much Manvinder who has been very helpful and
                                dedicated to her work.</p>
                            <div class="line">
                            </div>
                            <h4 class="client-reviewer">
                                GURJEETH SINGH
                            </h4>
                        </div>
                        <div class="carousel-item">
                            <div class="  text-center">
                                <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-2.png"
                                    alt="client profile">
                            </div>
                            <span class="double-quotes">“</span>
                            <p class="client-reviewer--comment">Their prompt and professional
                                consultation with the Australian Consulate has the immigration process a
                                lot easier for us. I would highly recommend Max International and the
                                excellent seervice they provide</p>
                            <div class="line">
                            </div>
                            <h4 class="client-reviewer">
                                TINA
                            </h4>
                        </div>
                        <div class="carousel-item">
                            <div class=" text-center">
                                <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-1.jpg"
                                    alt="client profile">
                            </div>
                            <span class="double-quotes">“</span>
                            <p class="client-reviewer--comment">Thank you so much for making this visa
                                possible. Max International have been truly helpfu; and i would like to
                                commend and thank so much Manvinder who has been very helpful and
                                dedicated to her work.</p>
                            <div class="line">
                            </div>
                            <h4 class="client-reviewer">
                                GURJEETH SINGH
                            </h4>
                        </div>
                        <div class="carousel-item active">
                            <div class="text-center">
                                <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-2.png"
                                    alt="client profile">
                            </div>
                            <span class="double-quotes">“</span>
                            <p class="client-reviewer--comment">Their prompt and professional
                                consultation with the Australian Consulate has the immigration process a
                                lot easier for us. I would highly recommend Max International and the
                                excellent seervice they provide</p>
                            <div class="line">
                            </div>
                            <h4 class="client-reviewer">
                                TINA
                            </h4>
                        </div>
                        <div class="carousel-item">
                            <div class=" text-center">
                                <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-1.jpg"
                                    alt="client profile">
                            </div>
                            <span class="double-quotes">“</span>
                            <p class="client-reviewer--comment">Thank you so much for making this visa
                                possible. Max International have been truly helpfu; and i would like to
                                commend and thank so much Manvinder who has been very helpful and
                                dedicated to her work.</p>
                            <div class="line">
                            </div>
                            <h4 class="client-reviewer">
                                GURJEETH SINGH
                            </h4>
                        </div>
                        <div class="carousel-item">
                            <div class="text-center">
                                <img class="client-photo" src="{{site.baseurl}}/assets/images/cli-2.png"
                                    alt="client profile">
                            </div>
                            <span class="double-quotes">“</span>
                            <p class="client-reviewer--comment">Their prompt and professional
                                consultation with the Australian Consulate has the immigration process a
                                lot easier for us. I would highly recommend Max International and the
                                excellent seervice they provide</p>
                            <div class="line">
                            </div>
                            <h4 class="client-reviewer">
                                TINA
                            </h4>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>
