<div class="visas container-fluid" id="visas">
    <div class="container d-flex flex-column text-center">

        <div class="visa-title">
            <h5> VISA SERVICES</h5>
        </div>

        <div class="information d-flex  flex-column flex-md-row justify-content-evenly">
            <div class="visa-type">
                <div class="profile-border">
                    <img class="profile-photo" alt="visa photo"
                        src="/assets/images/visa-1.png">
                </div>
                <div class="visa-heading" id="family-visa">
                    <h5>FAMILY VISAS</h5>
                </div>
                <div class="visa-des">
                    <p>lorem ipsum is simpley dummy text of the printing and typesetting industry</p>
                </div>
            </div>

            <div class="visa-type ">
                <div class="profile-border">
                    <img class="profile-photo" alt="visa-photo"
                        src="/assets/images/visa-2.jpg">
                </div>
                <div class="visa-heading" id="student-visa">
                    <h5>STUDENT VISA</h5>
                </div>
                <div class="visa-des">
                    <p>lorem ipsum is simpley dummy text of the printing and typesetting industry</p>
                </div>
            </div>

            <div class="visa-type ">
                <div class="profile-border" id="skilled-visa">
                    <img class="profile-photo" alt="visa photo"
                        src="/assets/images/visa-3.png">
                </div>
                <div class="visa-heading">
                    <h5>SKILLED VISA</h5>
                </div>
                <div class="visa-des">
                    <p>lorem ipsum is simpley dummy text of the printing and typesetting industry</p>
                </div>
            </div>
        </div>
        <div class="information-1 d-flex flex-column flex-md-row justify-content-evenly">
            <div class="visa-type ">
                <div class="profile-border"  id="appeals-visa">
                    <img class="profile-photo" alt="visa photo"
                        src="/assets/images/visa-4.jpg">
                </div>
                <div class="visa-heading">
                    <h5>VISA APPEALS</h5>
                </div>
                <div class="visa-des">
                    <p>lorem ipsum is simpley dummy text of the printing and typesetting industry</p>
                </div>
            </div>

            <div class="visa-type ">
                <div class="profile-border" id="visitor-visa">
                    <img class="profile-photo" alt="visa photo"
                        src="/assets/images/visa-5.png">
                </div>
                <div class="visa-heading">
                    <h5>VISITOR VISA</h5>
                </div>
                <div class="visa-des">
                    <p>lorem ipsum is simpley dummy text of the printing and typesetting industry</p>
                </div>
            </div>

            <div class="visa-type ">
                <div class="profile-border" id="employer-sponsered-visa">
                    <img class="profile-photo" alt="visa photo"
                        src="/assets/images/visa-6.png">
                </div>
                <div class="visa-heading">
                    <h5>EMPLOYER SPONSORED VISA</h5>
                </div>
                <div class="visa-des">
                    <p>lorem ipsum is simpley dummy text of the printing and typesetting industry</p>
                </div>
            </div>
        </div>

    </div>
</div>

        <div class="point position-relative">
      
        <div class="vertical-line position-absolute">
        </div>
              </div>