---
layout: default
title: Blogs
---

{% include nav.html %}
<div class="container-fluid">
    {% if page.content =="" %}
    <div class="random text-center bg-white d-flex flex-md-row  flex-column">
        {% include script.html %}
        {% endif %}

    </div>
    {% if page.content =="" %}
    <div class="mt-5">
        {% include subnav.html %}
    </div>
    {% endif %}
    <div class="d-flex flex-wrap justify-content-evenly m-auto d-sm-row">
        {% for post in site.posts %}
        {% if page.content =="" %}
        <div class="text-center m-2  g-4">

            <div class="card post-cards h-100 mt-3">
                <div class="post-img">
                    <img class="poster-img" src="{{post.image}}" alt="image">

                    <div class="d-flex justify-content-between" id="hover-title">
                        <div class="post-titles">
                            <a class="text-decoration-none fw-bold text-white post-url" href="{{ post.url }}">{{
                                post.title }}</a>
                        </div>
                        <div class="icon d-flex">
                            <div class="icon-like"><i class="fa-solid fa-heart"></i>
                                <div class="icon-heart bg-white border">like</div>
                            </div>
                            <div class="icon-file ms-4 me-2"><i class="fa-solid fa-folder-plus"></i>
                                <div class="icon-plus bg-white border">save</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="d-flex justify-content-between mt-2">
                    <div class="user"> <i class="fa-regular fa-user fa-solid"></i>&nbsp;
                        {{ post.author }}
                    </div>
                    <div class="io"><span class="i"> <i class="fa-solid fa-heart"></i>
                            <div class="add-like bg-white border">add like</div>
                        </span>
                        {{ post.num }}&nbsp;<i class="fa-solid fa-eye ico"></i>{{ post.view }}</div>
                </div>
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% if page.content !="" %}
    <div class="m-5 fw-bold post-content">
        <h1 class="text-dark">{{ page.title }}</h1>
        <p class="text-danger"> {{ page.date | date:"%B %d, %Y" }} - {{ page.author }}</p>
        {{content}}
    </div>
    <div class="text-center m-5">
        <a class="btn btn-primary" onclick="history.back()">back</a>
    </div>
    {% endif %}
</div>
{% include footer.html %}