.aboutus{
      background-image: url(../../assets/images/about-bg.png);
  background-repeat: no-repeat;
  background-size: 350px 100%;
  background-position: left !important;
    padding-bottom: 120px;
}
.about {
font-family: 'Signika Negative', sans-serif !important;
     &--title {
     @include bottom-line;
    }
    
    &--des__one{
    margin-top: 30px;
    }

    &--des__two {
      font-weight: 300;
      color: #4d4d4d;
    padding: 20px 0px;
    }
}
