@import'../sass/nav/nav';

.home-container {
  background-image: url(../../assets/images/homebg.jpg);
  background-repeat: no-repeat;
  background-size:100% 100%;
    height: 720px;
}

.poster {
  border-style: dashed;
  border-width: thin;
  padding: 20px !important;
  height: 500px;
  width: 500px; 
  border-radius: $border-radius;
    margin-left: 250px;
  &-des{
        padding: 15px;
    }
    
  &-title {
    color: #d41d1f;
    font-weight: bold;
    font-size: 25px;
}
}
.poster .rounded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 450px;
    border-radius:  $border-radius !important; 
    background-color:  #ffffff80;
   
}

.form {
  background-color: #ffffff;
  padding: 15px;
    color:  #8490a1;
  border-radius: 10px;
  width: 250px;
  box-shadow: -2px 2px 5px 0px #8490a1; 
}


@media  only screen and (max-width: 992px) {

.poster {
    height: 290px;
    width: 290px;
    padding: 0px;
    
  }
.poster .rounded {
    
     height: 250px;
    width: 250px;
//    margin: auto;
//    position: relative;
//    right: 17px;
//    bottom: 17px;
}
    
    

.poster-title {
      font-size: 10px;}
.poster-des {   
      font-size: 10px; 
    }

.form {
    width: 150px;
    font-size: 10px;}
    
    }
