.num {
    color: #ffffff;
    position: relative;
    top: 215px;
    right: -266px;
    font-size: 90px;
    font-family: 'Source Sans Pro', sans-serif;
}

.icon {
    position: relative;
    top: -116px;
    padding-right: 230px;
    font-size: 24px;
    color: #ffffff;
}

.calculator {
    width: 650px;
    margin: auto;
    background: #000000;
}

.screen {
    height: 80px;
    padding-bottom: 250px;
}

.keyboard {
    display: table;
    padding: 1px;
}

.keyboard button {
    background-color: #cfd0d2;
    width: 160px;
    height: 160px;
    margin: 1px;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

.keyboard button.operator {
    background-color: #f57a12;
    color: #ffffff;
}

.keyboard button.zero {
    width: 322px;
}

.carrier {
    color: #ffffff;
    margin-top: -75px;
    position: relative;
    left: 62px;
    bottom: -18px;
}