<div class="container-fluid bg-dark mt-3 pt-3">
  <footer class="text-center">
    <div class="container d-flex justify-content-center py-5">
      <p class="btn btn-primary mx-2">
        <i class="fab fa-facebook-f"></i>
      </p>
      <p class="btn btn-primary mx-2">
        <i class="fab fa-youtube"></i>
      </p>
      <p class="btn btn-primary mx-2">
        <i class="fab fa-instagram"></i>
      </p>
      <p class="btn btn-primary mx-2">
        <i class="fab fa-twitter"></i>
      </p>
    </div>
    <div class="text-center text-white p-3">
      © 2020 Copyright:
      <a class="text-white" href="#blog">blog</a>
    </div>
  </footer>
</div>