<script type="text/javascript">

  var postsURL = [{% for post in site.posts %}"{{ post.url }}"{% unless forloop.last %}, {% endunless %} {% endfor %}];

  var postsTitle = [{% for post in site.posts %}"{{ post.title }}"{% unless forloop.last %}, {% endunless %} {% endfor %}];

  var postsDes = [{% for post in site.posts %}"{{ post.des }}"{% unless forloop.last %}, {% endunless %} {% endfor %}];

  var postsImg = [{% for post in site.posts %}"{{ post.image }}"{% unless forloop.last %}, {% endunless %} {% endfor %}];

  var randomIndexUsed = [];
  var count = 0;
  var numberOfPosts = postsURL.length;
  while (count < numberOfPosts) {
    var randomIndex;
    var postURL;
    var postTitle;
    var postDes;
    var postImg;
    randomIndex = Math.floor(Math.random() * postsURL.length);
    if (randomIndexUsed.indexOf(randomIndex) == "-1") {
      postURL = postsURL[randomIndex];
      postTitle = postsTitle[randomIndex];
      postDes = postsDes[randomIndex];
      postImg = postsImg[randomIndex];
      if (count == (numberOfPosts - 1)) {
        document.write('<div class="d-flex flex-column bg-light"><h1 class="mt-5 random-title">' + postTitle + '</h1>' + '<p class="postDes mb-0">' + postDes + '</p>' + '<button class="nav-bar-button text-white m-auto btn">'+ '<a class="fw-normal text-decoration-none text-white" href="' + postURL + '">' + 'View </a> </button>' + '</div>' + '<img class="random-image" src="' + postImg + '">');
      }
      randomIndexUsed.push(randomIndex);
      count++;
    }
  }




  let mybutton = document.getElementById("btn-back-to-top");

window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}


</script>
