<div class="container d-flex justify-content-between flex-wrap d-md-column">
    <div class="p-2 text-dark sub-nav"> <span class="sub-all"> All
            <div class="sub-alls bg-white">
                <div class="d-flex">
                    <div><i class="fa-solid fa-1"></i></div>
                    <div class="mt-1">Environment</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-2"></i></div>
                    <div class="mt-1">India</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-3"></i></div>
                    <div class="mt-1">Cyber</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-4"></i></div>
                    <div class="mt-1">Engineering</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-5"></i></div>
                    <div class="mt-1">Food</div>
                </div>
            
            </div>
        </span>
    </div>


    <div class="p-3 text-dark sub-nav">
        <span class="sub-animat">Animation
            <div class="sub-animation p-3 bg-white">
                <div class="d-flex">
                    <div><i class="fa-solid fa-1"></i></div>
                    <div class="mt-1">Environment</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-2"></i></div>
                    <div class="mt-1">India</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-3"></i></div>
                    <div class="mt-1">Cyber</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-4"></i></div>
                    <div class="mt-1">Engineering</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-5"></i></div>
                    <div class="mt-1">Food</div>
                </div>
            </div>
        </span>
    </div>

    <div class="p-3 text-dark sub-nav">
        <span class="sub-brand">Branding
            <div class="sub-brands p-3 bg-white">
                <div class="d-flex">
                    <div><i class="fa-solid fa-1"></i></div>
                    <div class="mt-1">Environment</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-2"></i></div>
                    <div class="mt-1">India</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-3"></i></div>
                    <div class="mt-1">Cyber</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-4"></i></div>
                    <div class="mt-1">Engineering</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-5"></i></div>
                    <div class="mt-1">Food</div>
                </div>
            </div>
        </span>
    </div>
   
    <div class="p-3 text-dark sub-nav">
        <span class="sub-illustrat">Illustration
            <div class="sub-illustration p-3 bg-white">
                <div class="d-flex">
                    <div><i class="fa-solid fa-1"></i></div>
                    <div class="mt-1">Environment</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-2"></i></div>
                    <div class="mt-1">India</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-3"></i></div>
                    <div class="mt-1">Cyber</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-4"></i></div>
                    <div class="mt-1">Engineering</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-5"></i></div>
                    <div class="mt-1">Food</div>
                </div>
            </div>
        </span>
    </div>
   
    <div class="p-3 text-dark sub-nav">
        <span class="sub-design">design
            <div class="sub-designs p-3 bg-white">
                <div class="d-flex">
                    <div><i class="fa-solid fa-1"></i></div>
                    <div class="mt-1">Environment</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-2"></i></div>
                    <div class="mt-1">India</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-3"></i></div>
                    <div class="mt-1">Cyber</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-4"></i></div>
                    <div class="mt-1">Engineering</div>
                </div>
                <div class="d-flex">
                    <div><i class="fa-solid fa-5"></i></div>
                    <div class="mt-1">Food</div>
                </div>
            </div>
        </span>
    </div>
   


<!-- 
    <div class="p-3 text-dark sub-nav">Branding</div>
    <div class="p-3 text-dark sub-nav">Illustration</div>
    <div class="p-3 text-dark sub-nav">Design</div> -->
    <div class="dropdown">
        <div class="btn mt-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> <i
                class="fa-solid fa-filter"></i>
            Tags
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Environment</a></li>
            <li><a class="dropdown-item" href="#">India</a></li>
            <li><a class="dropdown-item" href="#">Cyber</a></li>
            <li><a class="dropdown-item" href="#">Engineering</a></li>
            <li><a class="dropdown-item" href="#">Food</a></li>
        </ul>
    </div>
</div>